{% extends "aula_django/home.html" %}

{% block content %}

<div class="container text-center">
    <h2>Previsão do tempo para {{ cidade.nome }} - {{ cidade.estado }}</h2>
    <hr>
    <div class="row">
        <div class="col">
            <h3>Data de Amanhã: </h3>{{ previsao.data }}
        </div>
        <div class="col">
            <h3>Máxima Temperatura: </h3>{{ previsao.temp_max }} °C
        </div>
        <div class="col">
            <h3>Mínima Temperatura: </h3>{{ previsao.temp_min }} °C
        </div>
    </div>
</div>

{% endblock %}